<h2>Products</h2>
<ul class="product-list">
  <li *ngFor="let product of products">
    <a routerLink="/detail/{{product.id}}">
      <div class = "product">

        <div class = "product-image">
          <img src="{{product.image}}" alt="">
        </div>

        <div class="product-details">
          <h3 class = "product-details__name" >
            <a [title]="product.name + ' details'" href="{{product.link}}" target="_blank">
              {{ product.name }}
            </a>
          </h3>
          <div id = "rating-price">
            <p *ngIf="product.price" class="product-details__price">
              {{ product.price}}
            </p>

            <p *ngIf="product.rating">
              Rating: {{ product.rating }}
            </p>
          </div>

          <p id = "pdes" *ngIf="product.description">
            {{ product.description }}
          </p>
        </div>
      </div>
    </a>
  </li>
</ul>

