.product-list {
  padding: 10px 0;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
