button {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
  background: transparent;
}

#share{
  position: relative;
  width: 32px;
  height: 32px;
}

.product {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 15px 30px 0;
  width: 220px;
  height: 350px;
}

.product:hover {
  transform: scale(1.05);
  border: 1px solid #35BADB;
  /*display: grid;
  grid-template-columns: 0 220px;
  background: black;*/
  background: #ccfffa;
}

.product-actions {
  display: flex;
}

h3{
  font-size: 16px;
}

.product-image {
  max-width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  object-fit: cover;
}

img{
  width: 220px;
  height: 200px;
  justify-content: center;
}

.product-details {
  display: block;
  justify-content: space-between;
  padding: 8px 15px;
}

#rating-price{
  display: flex;
  justify-content: space-between;
}

.product-details__price {
  font-weight: 500;
  opacity: 0.7;
  letter-spacing: 1px;
  margin: 0;
}

.product-details__name {
  opacity: 0.8;
  font-weight: 500;
  margin: 0;
}

.product-description {
  display: grid;

}

#pdes{
  font-size: 11px;
  color: black ;

  padding: 5px 0px;

}

p {
  opacity: 0.6;
  margin: 0;
}

.product-actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
}
